body
{ 
    background-color: black;
}

h1
{
color:green;    
text-align: center;
}

h2
{
    color: green;
    text-decoration: turquoise;
    text-align: center;
}
a
{
    text-align: center;
}
p
{
 
    color: greenyellow;
    text-align: center;
}
img 
{
    size-adjust: 100w 100h;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: greenyellow;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  